<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：当前XML文件用于配置哪个接口中抽象方法对应的SQL语句 -->
<mapper namespace="com.ccstay.ccstore.mapper.OrderMapper">

	<resultMap type="com.ccstay.ccstore.entity.Order" id="order">
		<id column="id"  property="id"/>
	    <result column="uid" property="uid"/>
	    <result column="recv_name" property="recvName"/>
	    <result column="recv_phone" property="recvPhone"/>
	    <result column="recv_province" property="recvProvince"/>
	    <result column="recv_city" property="recvCity"/>
	    <result column="recv_area" property="recvArea"/>
	    <result column="recv_address" property="recvAddress"/>
	    <result column="status" property="status"/>
	    <result column="price" property="price"/>
	    <result column="order_time" property="orderTime"/>
	    <result column="pay_time" property="payTime"/>
	    <result column="created_user" property="createdUser" />
	    <result column="created_time" property="createdTime" />
	    <result column="modified_user" property="modifiedUser" />
	    <result column="modified_time" property="modifiedTime" />
	</resultMap>

	<insert id="saveOrder" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO t_order(
			uid,
			recv_name,recv_phone,
			recv_province, recv_city, 
			recv_area,recv_address,
			status,price,
			order_time,pay_time,
			created_user,created_time,
			modified_user,modified_time
		)VALUES(
			#{ uid},
            #{ recvName},#{ recvPhone},
            #{ recvProvince}, #{ recvCity}, 
            #{ recvArea},#{ recvAddress},
            #{ status},#{ price},
            #{ orderTime},#{ payTime},
			#{ createdUser}, #{createdTime},
			#{ modifiedUser}, #{modifiedTime}
		)
	</insert>
	
	<insert id="saveOrderItem" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO t_order_item(
		    oid, pid,
		    num,price,
		    image,title,
			created_user,created_time,
			modified_user,modified_time
		)VALUES(
			#{ oid},#{ pid},
            #{ num},#{ price},
            #{ image},#{ title},
			#{ createdUser}, #{createdTime},
			#{ modifiedUser}, #{modifiedTime}
		)
	</insert>
	
	<select id="findById" resultMap="order" >
	SELECT
	   *
	FROM 
	   t_order
	WHERE
	   id=#{id}
	</select>
	<select id="findByUid" resultMap="order" >
	SELECT
	   *
	FROM 
	   t_order
	WHERE
	   uid=#{uid}
	ORDER BY
	   created_time desc 
	LIMIT 0,1
	</select>
	
    <update id="updateStatus">
        UPDATE
           t_order 
        SET
            status=#{status},
            modified_time=#{modifiedTime},
            modified_user=#{username}
        WHERE
            id=#{id};
    </update>
    
	
</mapper>

   




